*, *::before, *::after, a:link {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: white;
}



:root {

/*__________font-size__________*/    

--create_title: clamp(2rem, 6vw + .313rem, 2.75rem);
--input_width: clamp(24.563rem, 0vw + 0rem, 24.563rem);


/*__________colors__________*/

--dark-nav: rgba(31, 32, 37, 1);
--gray-nav: rgba(45, 48, 57, 1);
--logo-blue: rgba(17, 59 ,146, 1); 
--more: rgba(239,246,253, 1); 
--more_arrow: rgba(97, 192, 193, 1);    
--more_bottom: rgba(204, 204, 204, 1);
--more_link: rgba(32, 112, 176, 1) ;
--blue_cadet: rgba(95, 158, 160,1);
--navigation: rgba(238, 238, 238, 1);
--navigation_home: rgba(26, 90, 146, 1); 
--select-menu: rgba(233, 233, 237, 1);
--create-bottom: rgba(42, 45, 53, 1);
--continue-btn: rgba(22, 75, 121, 1);
--continue-btn_95: rgba(22, 75, 121, .95);
--continue-btn_90: rgba(22, 75, 121, .9);
--continue-btn_85: rgba(22, 75, 121, .85);
--continue-btn_80: rgba(22, 75, 121, .8);
--continue-btn_50: rgba(22, 75, 121, .5);
--continue-btn_5darker: rgba(18, 62, 99, 1);
--check-circle: rgba(75, 181, 67, 1);
--pri-foot_light: rgba(54, 60, 71, 1);    
--pri-foot_dark: rgba(31, 35, 41, 1);
--pri-foot_dark5: rgba(42, 47, 56, 1);
--pri-foot_dark10: rgba(53, 60, 70, 1);
--sec-foot: rgba(44, 47, 56, 1);
--pri-foot-a: rgba(203, 203, 203, 1);
--sec-foot-a: rgba(102, 204, 204);
--info_for:rgba(45, 48, 57, 1);
--info_for_hover:rgba(68, 72, 86, 1);
--black: rgba(0, 0, 0, 1);
--red: rgba(255, 0, 0, 1);
--gray: rgba(100, 100, 100, 1);
--gray_75: rgba(100, 100, 100, .75);
--gray_50: rgba(100, 100, 100, .5);
--gray_25: rgba(100, 100, 100, .25);
--white: rgba(255, 255, 255, 1);
--white_75: rgba(255, 255, 255, .75);
--white_50: rgba(255, 255, 255, .5);
--white_25: rgba(255, 255, 255, .25);
--white_20: rgba(255, 255, 255, .20);
--white_15: rgba(255, 255, 255, .15);
--white_10: rgba(255, 255, 255, .10);
--white_05: rgba(255, 255, 255, .05);

/*__________margin__________*/

--logo_wrapper: clamp(0.35rem, 8vw - 3.6rem, 2rem);
--search_lbl: clamp(0.75rem, 11.9vw - 4.474rem, 3.75rem);
--navtop_title: clamp(1.5rem, 11.9vw - 3.724rem, 4.5rem);
}

/*===========================
        Navbar Top
===========================*/

.full-container{
    margin: 0;
    padding: 0;
    height: auto;
    background: var(--dark-nav);
}

.navtop-wrapper {
    width: 100%;
    padding: 0;
    height: auto;
}

.navtop-title {
    display: block;
    width: 100%;
    font-size: .95rem;
    font-weight: 900;
    text-align: right;
    padding: 0 var(--navtop_title) 0 0;
    color: var(--white);
}

/*===========================
            Navbar
===========================*/

.nav-container {
    width: 100%;
    background: var(--gray-nav);
}

.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.nav-logo-wrapper {
    width: auto;
    height: 3.5rem;
    margin: 0 0 0 var(--logo_wrapper);
    padding: 0 .5rem 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: var(--logo-blue);
}

.nav-logo {
    position: relative;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    margin: .5rem 0.3rem .5rem .65rem;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.25px solid var(--white);
}

.nav-logo::before {
    content: '';
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background: var(--logo-blue);
}

.nav-logo::after {
    content: '';
    position: absolute;
    width: 2.6rem;
    height: .5rem;
    background: var(--white);
    border: 1px solid var(--white);
}

.nav-logo-title {
    display: block;
    width: 7rem;
    height: 3rem;
    line-height: 1rem;
    margin: 0;
    padding: .5rem 0 .5rem .5rem;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: .025rem;
    color: var(--white);
}

.nav-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-li {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    white-space: nowrap;
    padding: 1rem 1rem .8rem 1rem;
    border-bottom: 3px solid transparent;
    transition: background 250ms ease-out,
                border-bottom 250ms ease-out;
}

.nav-li::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    bottom: -.38rem;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav-li:hover {
    cursor: pointer;
    background: var(--white_10);
}

.nav-li:hover::after {
    background: var(--more_link);
}

.nav-a {
    width: 100%;
    height: 100%;
    font-size: .9rem;
    letter-spacing: .025rem;
    text-decoration: none;
}

.nav-a:visited {
    color: var(--white);
}

.more-li {
    cursor: pointer;
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    padding: 1rem 1rem .8rem 1rem;
    border-bottom: 3px solid transparent;
}

.more-li-hover {
    transition: background 250ms ease-out;
}

.more-li-hover:hover {
    background: var(--white_10);
    transition: background 0ms linear;
}

.more-li::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.more-li::before {
    position: absolute;
    content: '';
    height: 4px;
    right: 0;
    left: 0;
    bottom: -.38rem;
}

.more-li:hover::before {
    background: var(--more_link);
}

.check-toggle {
    display: none;
}

.check-toggle:checked ~ .more-li::before {
    background: var(--more);
}

.more-toggle {
    background: var(--more);
}

.more-a {
    position: relative;
    text-decoration: none;
}

.more-a-toggle {
    color: var(--black);
}

.more-a-toggle:visited {
    color: var(--black);
}

.more-up, .more-down {
    position: absolute;
    font-size: 1.30rem;
    right: -.1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.more-down {
    opacity: 1;
    top: 0;
    bottom: .25rem;
    color: var(--more_arrow);
}

.more-down-toggle {
    opacity: 0;
}

.more-up {
    opacity: 0;
    top: 1rem;
    bottom: 0;
    color: var(--more_arrow);
}

.more-up-toggle {
    opacity: 1;
}

/*========== Search box ==========*/

.nav-search-form {
    width: auto;
    margin: 0;
    padding: 0 var(--search_lbl) 0.5rem 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; 
}

.nav-search-input{
    position: relative;
    width: 8rem;
    height: 2.5rem;
    padding: .5rem;
    border-radius: .25rem;
    color: var(--black);
}

.nav-search-submit {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .25rem;
    color: var(--black);
    background: var(--logo-blue);
    transition: background 250ms ease-out;
}

.nav-search-submit:hover {
    background: var(--more_link);
}

.filler-top {
    width: 100%;
    height: .15rem;
    background: var(--dark-nav);
}

/*========== More dropdown ==========*/

.more-container {
    padding: 1rem 3.5rem  0 3.5rem;
    background: var(--more);
    border-bottom: 3px solid var(--more_bottom);
}

.more-container-toggle {
    display: none;
}

.more-title {
    font-size: .95rem;
    color: var(--black);
}

.section {
    margin: 0 0 1.5rem 0;
}

.ways-wrapper {
    margin: 0 0;
}

.travel-ul, .links-ul {
    padding: 0 .5rem;
    margin: 0 .5rem;
    border-left: 1px solid var(--more_bottom);
}

.ways1-ul {
    padding: 0 .5rem;
    margin: 0 0 0 1.25rem;
    border-left: 1px solid var(--more_bottom);
}

.ways2-ul {
    padding: 0 .5rem;
    margin: 0 0 0 1.25rem;
}

.travel-li, .ways-li, .links-li {
    margin: .25rem 0;
}

.travel-a, .ways-a, .links-a {
    font-size: .95rem;
    font-weight: 400;
    color: var(--more_link);
    text-decoration: none;
}

/*========== More dropdown buttons ==========*/

.btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.more-btn {
    position: relative;
    width: 95%;
    padding: .5rem;
    margin: 0 0 .75rem 0;
    text-align: center;
    border: 1px solid var(--more_bottom);
}

.more-btn::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background 250ms ease-out;
}

.more-btn:hover {
    cursor: pointer;
}

.more-btn:hover:after {
    background: var(--white_50);
}

.more-a {
    position: relative;
    font-size: .95rem;
    font-weight: 400;
    color: var(--more_link);
    z-index: 1;
}

.help-btn, .fares-btn, .maps-btn, .status-btn, .plan-btn {
    display: none;
}

/*===========================
    Create account section
===========================*/

.create-container {
    border-bottom: 5px solid var(--create-bottom);
}

.create-top-wrapper {
    width: auto;
    height: auto;
    padding: .75rem 5% .75rem 5%;
    border-bottom: 3px solid var(--more_bottom);
}

/*========== Breadcrumbs ==========*/

.navigation-container { 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.home {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin: 0 .15rem 0 0;
    font-size: 1.5rem;
    background: var(--navigation);
    color:var(--navigation_home);
    border-bottom: 1px solid var(--more_bottom);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

[class*="fa-house"]:before {
    color: var(--navigation_home);
}

.home::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 0;
    left: 100%;
    bottom: 0;
    border-top: 1rem solid transparent;
    border-left: .75rem solid var(--navigation);
    border-bottom: 1rem solid transparent;
}

.driving a {
    padding: 0 0 0 .75rem;
    font-size: .95rem;
    color:var(--more_link);
}

.driving:hover {
    text-decoration: underline;
    color:var(--more_link);
}

.driving {
    position: relative;
    width: 4.5rem;
    height: 2rem;
    margin: 0 .15rem 0 0;
    background: var(--navigation);
    border-bottom: 1px solid var(--more_bottom);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.driving::before, .driving::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
}

.driving::before {
    left: 0;
    border-top: 1rem solid transparent;
    border-left: .75rem solid var(--white);
    border-bottom: 1rem solid transparent;
}

.driving::after {
    left: 100%;
    border-top: 1rem solid transparent;
    border-left: .75rem solid var(--navigation);
    border-bottom: 1rem solid transparent;
}

.create span {
    padding: 0 0 0 .75rem;
    font-size: .95rem;
    color:var(--black);
}

.create {
    position: relative;
    width: 10rem;
    height: 2rem;
    margin: 0 .15rem 0 0;
    background: var(--navigation);
    border-bottom: 1px solid var(--more_bottom);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create::before, .create::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
}

.create::before {
    left: 0;
    border-top: 1rem solid transparent;
    border-left: .75rem solid var(--white);
    border-bottom: 1rem solid transparent;
}

.create::after {
    left: 100%;
    border-top: 1rem solid transparent;
    border-left: .75rem solid var(--navigation);
    border-bottom: 1rem solid transparent;
}

/*========== Create account ==========*/

:is(h1, h2, h4, p, input, label, li, strong) {
    color: var(--black);
}

:is(h4) {
    padding: 2rem 0 0 0;
    font-weight: 400;
}

:is(.email-h4){
    padding: 2rem 0 .75rem 0;
}

:is(label) {
    font-size: 1rem;
}

:is(p, select){
    font-size: .98rem;
}

:is(a) {
    color: var(--more_link);
}

.email-icon-wrapper {
    width: var(--input_width);
}

.form-field {
    width: var(--input_width);
    height: 2.5rem;
    margin: .5rem 0 0 0;
    border: 1px solid black;
}

.account-container {
    width: 65.5%;
    display: flex;
    flex-direction: column;
}

.create-title {
    padding: 2rem 0 1rem 0;
    font-size: var(--create_title);
    font-weight: 400;
}

.create-subtitle {
    padding: 0 0 .5rem 0;
    font-weight: 400;
}

.type-container {
    margin: 0;
    padding: 1.5rem 0 0 0;
}

.type-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    border: 1px solid transparent;
}

.account-border {
    border: 1px dashed var(--more_link);
}

.account-radio {
    appearance: none;
    position: relative;
    margin: 0;
    background: var(--white);
    width: 1.60rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-radio::before {
    position: absolute;
    content: '';
    width: .6rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: var(--navigation_home);
    transform: scale(0);
    transition: transform 150ms ease-out;
}

.account-radio:checked::before {
    transform: scale(1);
}

.account-lbl {
    width: 100%;
    height: 2.5rem;
    font-size: .98rem;
    line-height: 2.5rem;
    padding: 0 0 0 1.5rem;
    cursor: pointer;
}

.company-container {
    position: relative;
    width: 100%;
    height: auto;
    display: none;
}

.company-container-toggle {
    display: block;
}

.company-container::after, .company-container::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--more_bottom);
}

.company-container::before {
    bottom: 100%;
    left: 8px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--more_bottom);
}

.company-container::after {
    bottom: 99.9%;
    left: 9px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--more);
}

.company-wrapper {
    width: 100%;
    height: 9.5rem;
    padding: 1.5rem 1.25rem 0 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--more);
    border: 1px solid var(--more_bottom);
}

.company-name {
    height: 2.5rem;
    margin: .5rem 0 0 0;
}

/*========== Question ==========*/

.question-container {
    width: 100%;
    height: auto;
    margin: 2rem 0 0 0;
    
}

.question-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem 2rem 0 .5rem;
    cursor: pointer;
    border: 1px solid var(--more_bottom);
}

.question-wrapper::after {
    position: absolute;
    content: '?';
    width: 1.5rem;
    height: 1.5rem;
    top: 25%;
    bottom: 0;
    right: .5rem;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 50%;
    background: var(--navigation_home);
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-wrapper {
    display: none;
    position: relative;
    width: 100%;
    height: auto;
    padding: .75rem .5rem .75rem .5rem;
    background: var(--more);
    border-right: 1px solid var(--more_bottom);
    border-left: 1px solid var(--more_bottom);
    border-bottom: 1px solid var(--more_bottom);
}

.answer-wrapper::before, .answer-wrapper::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--more_bottom);
}

.answer-wrapper::before {
    bottom: 100%;
    right: 15px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--more_bottom);
}

.answer-wrapper::after {
    bottom: 99.9%;
    right: 16px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--more);
}

.answer-wrapper li {
    list-style-type: disc;
}

.answer-wrapper-toggle {
    display: block;
}

/*========== Fields ==========*/

.fields-wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted var(--more_bottom);
}

.form-field {
    padding: 0 0 0 .25rem;
}

small {
    display: inline-block;
    height: 1.75rem;
    color: var(--red);
}

.name-wrapper, .email-wrapper, .phone-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 0 2rem 0;
    border-bottom: 1px dotted var(--more_bottom);
}

.password-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 0 2rem 0
}

.required-wrapper {
    padding: 0 0 1rem 0;
    border-bottom: 1px solid var(--more_bottom);
}

.user-title {
    color: var(--gray_75);
    background: var(--select-menu);
}

.email-icon-wrapper {
    position: relative;
    display: inline;
}

.email-icon, .check-icon {
    position: absolute;
    right: .5rem;
    top: -1.30rem;
}


[class*="fa-envelope"]:before {
    color: var(--gray_75);
}

[class*="fa-circle-check"]:before {
    color: var(--check-circle);
}


.field-lbl {
    padding: 1.75rem 0 0 0;
}

.form-btn-wrapper {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-btn-wrapper span {
    display: inline-block;
    font-size: .98rem;
    padding: 0 .5rem;
    transform: scale(1, 1.5);
    color: var(--more_link);
}

.form-btn-wrapper a {
    display: inline-block;
    font-size: .98rem;
}

.continue-btn {
    width: 45%;
    height: 2.5rem;
    font-size: .98rem;
    font-weight: 300;
    border-radius: .25rem;
    padding: .25rem;
    color: var(--white);
    background: linear-gradient(var(--continue-btn_90), var(--continue-btn));
}

.continue-btn:hover {
    background: var(--continue-btn_5darker);
}

/*===========================
Primary and Secondary footer
===========================*/

.primary-footer {
    background: linear-gradient(var(--create-bottom), 1%, var(--pri-foot_dark10) 10%, var(--pri-foot_dark));
}

.primary-footer-wrapper {
    padding: 2rem 2rem 1rem 2rem;
}

.pri-left-col {
    border-right: 1px solid var(--pri-foot-a);
}

.pri-nav-li {
    padding: 0 0 .9rem 0;
}

.foot-nav-ul .pri-nav-li:nth-child(8) {
 padding: 0;
}

.info-title {
    padding: 0 2rem;
    font-size: .95rem;
    font-weight: 500;
    color: var(--white);
}

.pri-foot-a {
    font-size: .85rem;
    font-weight: 300;
    color: var(--pri-foot-a);
}

.pri-foot-a:hover {
    color: var(--pri-foot-a);
    text-decoration: underline;
}

.mol-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    padding: 1rem 3rem 0 0;
}

.mol-btn {
    position: relative;
    width: 19rem;
    height: 3rem;
    font-size: 1.25rem;
    font-weight: 900;
    padding: 0 0 0 .85rem;
    margin: 0 2rem 0 0;
    text-align: left;
    background: var(--pri-foot_dark);
    border: 1px solid var(--pri-foot-a);
}

.mol-btn span {
    font-size: 1.15rem;
    font-weight: 500;
    padding: 0 .5rem;
    margin: 0 0 0 .5rem;
    border-left: 1px solid var(--gray_50);
}

/*------------------------------------------*/
.fa-angle-up, .fa-angle-down {
    position: absolute;
    top: .85rem;
}

.fa-down {
    display: none !important;
}

.fa-down-toggle {
    display: inline-block !important ;
}

.fa-up-toggle {
    display: none !important ;
}

/*------------------------------------------*/
.mol-ul {
    position: absolute;
    display: none;
    right: 2.75rem;
    bottom: 3rem;
    width: 19rem;
    height: auto;
    padding: 0;
    margin: 0;
    text-align: left;
    background: linear-gradient(var(--pri-foot_dark), var(--pri-foot_dark5));
    border: 1px solid var(--gray_50);
}

.mol-ul-toggle {
    display: block;
}

.mol-li {
    padding: .5rem 0 .5rem 0.75rem;
}

.mol-li:hover {
    background: var(--dark-nav);
}

.fa-arrow-up-right-from-square {
    padding: 0 .5rem 0 0;
}

.mol-li-title, .mol-li-title strong {
    color: var(--white);
}

.mol-li-title {
    padding: .5rem 0.5rem .5rem;
    border-bottom: 1px solid var(--gray_50);
}


.mol-a {
    font-size: .85rem;
    font-weight: 300;
    color: var(--pri-foot-a);
}

.mol-a:hover {
    color: var(--pri-foot-a);
}

/*========== Secondary footer ==========*/

.secondary-footer {
    background: var(--sec-foot);
}

.secondary-footer-wrapper {
    width: 100%;
    height: auto;
    padding: 1rem 2rem 0 2rem;
}

.notice-ul {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 0 0 1.5rem;
}

.notice-li {
    padding: 0 .5rem;
}

.copyright-col {
    display: flex;
    justify-content: flex-end;
}

.copyright {
    display: inline;
    font-size: .90rem;
    font-weight: 300;
    text-align: right;
    margin: 0 2rem 0 0;
    color: var(--white_75);
}

.sec-foot-a {
    font-size: .85rem;
    font-weight: 300;
    color: var(--sec-foot-a);
}

.sec-foot-a:hover {
    color: var(--sec-foot-a);
}

/*===========================
            @Media
===========================*/

@media screen and (max-width: 1102px) {

    .btn-grid {
        padding: 0 0 1rem 0;
    }

    .help-btn {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .help-li {
        display: none;
    }
}

@media screen and (max-width: 951px) {

    .fares-btn {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .help-btn {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .fares-li {
        display: none;
    }

}

@media screen and (max-width: 860px) {

    .maps-btn {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .fares-btn {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .help-btn {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .maps-li {
        display: none;
    }   

    .account-container {
        width: 100%;
    }

}

@media screen and (max-width: 770px) {

    .status-btn {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .maps-btn {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .fares-btn {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .help-btn {
        grid-column: 2 / 2;
        grid-row: 2 / 3;
    }

    .status-li {
        display: none;
    }

    .mol-container {
        align-items: center;
        margin: 0 0 0 2rem;
    }

    .mol-ul {
        position: absolute;
        left: 5.20rem;
        bottom: 3rem;
        padding: 0;
        margin: 0;
    }

}

@media screen and (max-width: 650px) {

    .plan-btn {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .status-btn {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .maps-btn {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .fares-btn {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .help-btn {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .plan-li {
        display: none;
    }

    .nav-logo-wrapper {
        padding: 0 .5rem 0 .5rem;
    }

    .nav-logo-title {
        display: none;
    }

    .nav-logo {
        margin: .5rem 0.65rem .5rem .65rem;
    }

    .nav-ul {
        justify-content: center;
    }

    .question {
        text-align: center;
    }

}

@media screen and (max-width: 992px) {
    
    .ways-wrapper {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {

    .ways2-ul {
        border-left: 1px solid var(--more_bottom);
    }

    .secondary-footer-wrapper {
        width: 100%;
        height: auto;
        padding: 0 2rem 0 2rem;
    }

    .notice-ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .notice-li {
        padding: 0.5rem .5rem;
    }

    .copyright-col {
        display: flex;
        justify-content: flex-start;
    }

    .copyright {
        margin: 0 2rem 0 2rem;
    }
}

@media screen and (max-width: 576px) {

    .form-field, .email-icon-wrapper{
        width: 100%;
      }

    .pri-left-col {
        border-right: 1px solid transparent;
    }

    .primary-footer {
        background: linear-gradient(var(--create-bottom), 1%, var(--pri-foot_dark10) 3%, var(--pri-foot_dark));
    }

    .info-title {
        position: relative;
        width: 100%;
        height: 4rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 4rem;
        margin: 0;
        background: var(--info_for);
        border-bottom: 3px solid var(--pri-foot_dark);
        transition: background 200ms ease-out;
    }

    .info-title::before, .info-title::after {
        position: absolute;
        content: '';
        background: var(--white);
    } 

    .info-h-line {
        position: absolute;
        top: 1.54rem;
        left: .75rem;
        width: .90rem;
        height: .13rem;
        background: var(--white);
    }

    .info-v-line {
        position: absolute;
        top: -0.4rem;
        left: 0.4rem;
        width: .13rem;
        height: .90rem;
        background: var(--white);
    }

    .info-v-line-toggle {
        display: none;
    }

    .info-title:hover {
        cursor: pointer;
        background: var(--info_for_hover);
    }

    .info-left {
        display: none;
        margin: 0;
        padding: 0;
        background: var(--pri-foot_dark);
        border-left: 1px solid var(--more_bottom);
        border-right: 1px solid var(--more_bottom);
    }

    .info-right {
        display: none;
        padding: 0;
        background: var(--pri-foot_dark);
        border-left: 1px solid var(--more_bottom);
        border-right: 1px solid var(--more_bottom);
        border-bottom: 1px solid var(--more_bottom);
    }

    .info-toggle {
        display: block;
    }

    .info-left .pri-nav-li {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid var(--more_bottom);
    }

    .info-right .pri-nav-li {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid var(--more_bottom);
    }

    .info-left .pri-foot-a, .info-right .pri-foot-a  {
        position: relative;
        display: block;
        width: 100%;
        height: 3rem;
        line-height: 3rem;
        padding: 0 0 0 .5rem;
    }

    .info-left .pri-foot-a::after, .info-right .pri-foot-a::after {
        position: absolute;
        content: '>';
        top: 1rem;
        right: 1rem;
        bottom: 1rem;
        color: var(--white);
        font-size: 1.25rem;
        font-weight: 400;
        display: flex;
        align-items: center;
    }
}
