*, *::before, *::after, a {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: white;
}



:root {

/*__________colors__________*/

--dark-nav: rgba(31, 32, 37, 1);
--gray-nav: rgba(45, 48, 57, 1);
--logo-blue: rgba(17, 59 ,146, 1); 
--more: rgba(239,246,253, 1); 
--more_arrow: rgba(97, 192, 193, 1);    
--more_bottom: rgba(204, 204, 204, 1);
--more_link: rgba(32, 112, 176, 1) ;
--blue_cadet: rgba(95, 158, 160,1);
--navigation: rgba(238, 238, 238, 1);
--navigation_home: rgba(26, 90, 146, 1); 
--black: rgba(0, 0, 0, 1);
--white: rgba(255, 255, 255, 1);
--white_75: rgba(255, 255, 255, .75);
--white_50: rgba(255, 255, 255, .5);
--white_25: rgba(255, 255, 255, .25);
--white_20: rgba(255, 255, 255, .20);
--white_15: rgba(255, 255, 255, .15);
--white_10: rgba(255, 255, 255, .10);
--white_05: rgba(255, 255, 255, .05);

/*__________margin__________*/

--logo_wrapper: clamp(0.35rem, 8vw - 3.6rem, 2rem);

}


/*===========================
        Navbar Top
===========================*/

.full-container{
    padding: 0;
    height: auto;
    background: var(--dark-nav);
}

.navtop-wrapper {
    width: 100%;
    height: auto;
}

.navtop-title {
    display: block;
    width: 100%;
    font-size: .95rem;
    font-weight: 900;
    text-align: right;
    padding: 0 4.5rem;
    color: var(--white);
}

/*===========================
            Navbar
===========================*/

.nav-container {
    width: 100%;
    background: var(--gray-nav);
}

.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.nav-logo-wrapper {
    width: auto;
    height: 3.5rem;
    margin: 0 0 0 var(--logo_wrapper);
    padding: 0 .5rem 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: var(--logo-blue);
}

.nav-logo {
    position: relative;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    margin: .5rem 0.3rem .5rem .65rem;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.25px solid var(--white);
}

.nav-logo::before {
    content: '';
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background: var(--logo-blue);
}

.nav-logo::after {
    content: '';
    position: absolute;
    width: 2.6rem;
    height: .5rem;
    background: var(--white);
    border: 1px solid var(--white);
}

.nav-logo-title {
    display: block;
    width: 7rem;
    height: 3rem;
    line-height: 1rem;
    margin: 0;
    padding: .5rem 0 .5rem .5rem;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: .025rem;
    color: var(--white);
}

.nav-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-li {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    padding: 1rem 1rem .8rem 1rem;
    border-bottom: 3px solid transparent;
    transition: background 250ms ease-out,
                border-bottom 250ms ease-out;
}

.nav-li::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    bottom: -.38rem;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav-li:hover {
    cursor: pointer;
    background: var(--white_10);
}

.nav-li:hover::after {
    background: var(--more_link);
}

.nav-a {
    width: 100%;
    height: 100%;
    font-size: .9rem;
    letter-spacing: .025rem;
}

.nav-a:visited {
    color: var(--white);
}

.more-li {
    cursor: pointer;
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    padding: 1rem 1rem .8rem 1rem;
    border-bottom: 3px solid transparent;
}

.more-li-hover {
    transition: background 250ms ease-out;
}

.more-li-hover:hover {
    background: var(--white_10);
    transition: background 0ms linear;
}

.more-li::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.more-li::before {
    position: absolute;
    content: '';
    height: 4px;
    right: 0;
    left: 0;
    bottom: -.38rem;
}

.more-li:hover::before {
    background: var(--more_link);
}

.check-toggle {
    display: none;
}

.check-toggle:checked ~ .more-li::before {
    background: var(--more);
}

.more-toggle {
    background: var(--more);
}

.more-a {
    position: relative;
}

.more-a-toggle {
    color: var(--black);
}

.more-a-toggle:visited {
    color: var(--black);
}

.more-up, .more-down {
    position: absolute;
    font-size: 1.30rem;
    right: -.1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.more-down {
    opacity: 1;
    top: 0;
    bottom: .25rem;
    color: var(--more_arrow);
}

.more-down-toggle {
    opacity: 0;
}

.more-up {
    opacity: 0;
    top: 1rem;
    bottom: 0;
    color: var(--more_arrow);
}

.more-up-toggle {
    opacity: 1;
}

/*========== Search box ==========*/

.nav-search-form {
    width: 25rem;
    height: auto;
    margin: 0;
    padding: 0 .5rem 0 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}

.nav-search-input{
    position: relative;
    width: 8rem;
    height: 2.5rem;
    padding: .5rem;
    border-radius: .25rem;
    color: var(--black);
}

.nav-search-submit {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .25rem;
    color: var(--black);
    background: var(--logo-blue);
    transition: background 250ms ease-out;
}

.nav-search-submit:hover {
    background: var(--more_link);
}

.filler-top {
    width: 100%;
    height: .15rem;
    background: var(--dark-nav);
}

/*========== More dropdown ==========*/

.more-container {
    padding: 1rem 3.5rem  0 3.5rem;
    background: var(--more);
    border-bottom: 3px solid var(--more_bottom);
}

.more-container-toggle {
    display: none;
}

.more-title {
    font-size: .95rem;
    color: var(--black);
}

.section {
    margin: 0 0 1.5rem 0;
}

.ways-wrapper {
    margin: 0 0;
}

.travel-ul, .ways1-ul, .links-ul {
    padding: 0 .5rem;
    margin: 0 .5rem;
    border-left: 1px solid var(--more_bottom);
}

.ways2-ul {
    padding: 0 .5rem;
    margin: 0 .5rem;
}

.travel-li, .ways-li, .links-li {
    margin: .25rem 0;
}

.travel-a, .ways-a, .links-a {
    font-size: .95rem;
    color: var(--more_link);
}

/*========== More dropdown buttons ==========*/

.btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.more-btn {
    position: relative;
    width: 95%;
    padding: .5rem;
    margin: 0 0 .75rem 0;
    text-align: center;
    border: 1px solid var(--more_bottom);
}

.more-btn::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background 250ms ease-out;
}

.more-btn:hover {
    cursor: pointer;
}

.more-btn:hover:after {
    background: var(--white_50);
}

.more-a {
    position: relative;
    font-size: .95rem;
    color: var(--more_link);
    z-index: 1;
}

.help-btn, .fares-btn, .maps-btn, .status-btn, .plan-btn {
    display: none;
}

/*===========================
    Create account section
===========================*/
.create-container {
    border: 1px solid black;
}

.create-top-wrapper {
    width: auto;
    height: auto;
    margin: .75rem 5% .75rem 5%;
    border: 1px solid black;
}

.navigation-container { 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.home {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin: 0 .15rem 0 0;
    font-size: 1.5rem;
    background: var(--navigation);
    color:var(--navigation_home);
    border-bottom: 1px solid var(--more_bottom);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.home::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 0;
    left: 100%;
    bottom: 0;
    border-top: 1rem solid transparent;
    border-left: .75rem solid var(--navigation);
    border-bottom: 1rem solid transparent;
}

.driving span {
    padding: 0 0 0 .75rem;
    font-size: .95rem;
    color:var(--more_link);
}

.driving {
    position: relative;
    width: 4.5rem;
    height: 2rem;
    margin: 0 .15rem 0 0;
    background: var(--navigation);
    border-bottom: 1px solid var(--more_bottom);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.driving::before, .driving::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
}

.driving::before {
    left: 0;
    border-top: 1rem solid transparent;
    border-left: .75rem solid var(--white);
    border-bottom: 1rem solid transparent;
}

.driving::after {
    left: 100%;
    border-top: 1rem solid transparent;
    border-left: .75rem solid var(--navigation);
    border-bottom: 1rem solid transparent;
}

.create span {
    padding: 0 0 0 .75rem;
    font-size: .95rem;
    color:var(--black);
}

.create {
    position: relative;
    width: 10rem;
    height: 2rem;
    margin: 0 .15rem 0 0;
    background: var(--navigation);
    border-bottom: 1px solid var(--more_bottom);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create::before, .create::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
}

.create::before {
    left: 0;
    border-top: 1rem solid transparent;
    border-left: .75rem solid var(--white);
    border-bottom: 1rem solid transparent;
}

.create::after {
    left: 100%;
    border-top: 1rem solid transparent;
    border-left: .75rem solid var(--navigation);
    border-bottom: 1rem solid transparent;
}

/*========== Create account ==========*/

:is(h1, h4, p, input, label, li, strong) {
    color: var(--black);
}

:is(a) {
    color: var(--more_link);
}

.account-container {
    width: 64%;
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}

.create-title {
    padding: 2rem 0 1rem 0;
    font-size: 2.75rem;
    font-weight: 400;
}

.create-subtitle {
    padding: 0 0 .5rem 0;
    font-weight: 400;
}

.create-info {
    font-size: .98rem;
}

.type-container {
    margin: 0;
    padding: 1.5rem 0 0 0;
}

.type-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    border: 1px solid transparent;
}

.account-border {
    border: 1px dashed var(--more_link);
}

.account-radio {
    appearance: none;
    position: relative;
    margin: 0;
    background: var(--white);
    width: 1.60rem;
    height: 1.60rem;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-radio::before {
    position: absolute;
    content: '';
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background: var(--more_link);
    transform: scale(0);
    transition: transform 150ms ease-out;
}

.account-radio:checked::before {
    transform: scale(1);
}

.account-lbl {
    width: 100%;
    height: 2.5rem;
    font-size: .98rem;
    line-height: 2.5rem;
    padding: 0 0 0 1.5rem;
    cursor: pointer;
}

.company-container {
    position: relative;
    width: 100%;
    height: auto;
    display: none;
}

.company-container-toggle {
    display: block;
}

.company-container::after, .company-container::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--more_bottom);
}

.company-container::before {
    bottom: 100%;
    left: 8px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--more_bottom);
}

.company-container::after {
    bottom: 99.9%;
    left: 9px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--more);
}

.company-wrapper {
    width: 100%;
    height: 9.5rem;
    padding: 1.5rem 1.25rem 0 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--more);
    border: 1px solid var(--more_bottom);
}

.company-lbl {
    font-size: 1rem;
}

.company-name {
    width: 50%;
    height: 2.5rem;
    margin: .5rem 0 0 0;
    border: 1px solid black;
}

.question-container {
    width: 100%;
    height: auto;
    margin: 2rem 0 0 0;
    border: 1px solid var(--more_bottom);
    
}

.question-wrapper {
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 .5rem;
}

.answer-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    padding: .75rem .5rem .75rem .5rem;
    background: var(--more);
    border-top: 1px solid var(--more_bottom);
}

.answer-wrapper::before, .answer-wrapper::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--more_bottom);
}

.answer-wrapper::before {
    bottom: 100%;
    right: 8px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--more_bottom);
}

.answer-wrapper::after {
    bottom: 99.9%;
    right: 9px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--more);
}


/*===========================
            @Media
===========================*/

@media screen and (max-width: 1102px) {

    .btn-grid {
        padding: 0 0 1rem 0;
    }

    .help-btn {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .help-li {
        display: none;
    }
}

@media screen and (max-width: 951px) {

    .fares-btn {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .help-btn {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .fares-li {
        display: none;
    }
}

@media screen and (max-width: 860px) {

    .maps-btn {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .fares-btn {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .help-btn {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .maps-li {
        display: none;
    }   
}

@media screen and (max-width: 770px) {

    .status-btn {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .maps-btn {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .fares-btn {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .help-btn {
        grid-column: 2 / 2;
        grid-row: 2 / 3;
    }

    .status-li {
        display: none;
    }
}

@media screen and (max-width: 650px) {

    .plan-btn {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .status-btn {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .maps-btn {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .fares-btn {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .help-btn {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .plan-li {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    
    .ways-wrapper {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {

    .ways2-ul{
        border-left: 1px solid var(--more_bottom);
    }
}