*, *::before, *::after, a {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: white;
}


:root {

/*__________colors__________*/

--dark-nav: rgba(31, 32, 37, 1);
--gray-nav: rgba(45, 48, 57, 1);
--logo-blue: rgba(17, 59 ,146, 1); 
--more: rgba(239,246,253, 1); 
--more_bottom:rgba(204, 204, 204, 1);
--more_link: rgba(32, 112, 176, 1) ;
--blue_cadet: rgba(95, 158, 160,1);
--black: rgba(0, 0, 0, 1);
--white: rgba(255, 255, 255, 1);
--white_75: rgba(255, 255, 255, .75);
--white_50: rgba(255, 255, 255, .5);
--white_25: rgba(255, 255, 255, .25);
--white_20: rgba(255, 255, 255, .20);
--white_15: rgba(255, 255, 255, .15);
--white_10: rgba(255, 255, 255, .10);
--white_05: rgba(255, 255, 255, .05);

/*__________margin__________*/

--logo_wrapper: clamp(0.35rem, 8vw - 3.6rem, 2rem);

}


/*===========================
            Top
===========================*/

.full-container{
    padding: 0;
    height: 5.20rem;
    background: var(--dark-nav);
}

.navtop-wrapper {
    width: 100%;
    height: auto;
}

.navtop-title {
    display: block;
    width: 100%;
    font-size: .95rem;
    font-weight: 900;
    text-align: right;
    padding: 0 4.5rem;
    color: var(--white);
}

/*===========================
            Navbar
===========================*/

.nav-container {
    width: 100%;
    background: var(--gray-nav);
}

.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.nav-logo-wrapper {
    width: auto;
    height: 3.5rem;
    margin: 0 0 0 var(--logo_wrapper);
    padding: 0 .5rem 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: var(--logo-blue);
}

.nav-logo {
    position: relative;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    margin: .5rem 0.3rem .5rem .65rem;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.25px solid var(--white);
}

.nav-logo::before {
    content: '';
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background: var(--logo-blue);
}

.nav-logo::after {
    content: '';
    position: absolute;
    width: 2.6rem;
    height: .5rem;
    background: var(--white);
    border: 1px solid var(--white);
}

.nav-logo-title {
    display: block;
    width: 7rem;
    height: 3rem;
    line-height: 1rem;
    margin: 0;
    padding: .5rem 0 .5rem .5rem;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: .025rem;
    color: var(--white);
}

.nav-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-li {
    width: auto;
    height: auto;
    margin: 0;
    padding: 1rem 1rem .8rem 1rem;
    border-bottom: 3px solid transparent;
    transition: background 250ms ease-out,
                border-bottom 250ms ease-out;
}

.nav-li:hover {
    cursor: pointer;
    background: var(--white_10);
    border-bottom: 3px solid var(--more_link);
}

.nav-a {
    font-size: .9rem;
    letter-spacing: .025rem;
}

.nav-a:hover{
    color: var(--white);
}

.more-li {
    position: relative;
}

.arrow-up, .arrow-down {
    position: absolute;
    font-size: 1.25rem;
    right: -.1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.arrow-down {
    top: 0;
    bottom: .25rem;
}

.arrow-up {
    display: none;
    top: 1rem;
    bottom: 0;
}

/*========== Search ==========*/

.nav-search-form {
    width: 25rem;
    height: auto;
    margin: 0;
    padding: 0 .5rem 0 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}

.nav-search-input{
    position: relative;
    width: 8rem;
    height: 2.5rem;
    padding: .5rem;
    border-radius: .25rem;
    color: var(--black);
}

.nav-search-submit {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .25rem;
    color: var(--black);
    background: var(--logo-blue);
    transition: background 250ms ease-out;
}

.nav-search-submit:hover {
    background: var(--more_link);
}

/*========== More dropdown ==========*/

.more-container {
    padding: 1rem 3.5rem  0 3.5rem;
    background: var(--more);
    border-bottom: 3px solid var(--more_bottom);
}

.more-title {
    font-size: .95rem;
    color: var(--black);
}

.section {
    margin: 0 0 1.5rem 0;
}

.ways-wrapper {
    margin: 0 0;
}

.travel-ul, .ways1-ul, .links-ul {
    padding: 0 .5rem;
    margin: 0 .5rem;
    border-left: 1px solid var(--more_bottom);
}

.ways2-ul {
    padding: 0 .5rem;
    margin: 0 .5rem;
}

.travel-li, .ways-li, .links-li {
    margin: .25rem 0;
}

.travel-a, .ways-a, .links-a {
    font-size: .95rem;
    color: var(--more_link);
}

/*========== More Buttons ==========*/

.btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.more-btn {
    position: relative;
    width: 95%;
    padding: .5rem;
    margin: 0 0 .75rem 0;
    text-align: center;
    border: 1px solid var(--more_bottom);
}

.more-btn::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background 250ms ease-out;
}

.more-btn:hover {
    cursor: pointer;
}

.more-btn:hover:after {
    background: var(--white_50);
}

.more-a {
    position: relative;
    font-size: .95rem;
    color: var(--more_link);
    z-index: 1;
}

.help-btn, .fares-btn, .maps-btn, .status-btn, .plan-btn {
    display: none;
}


/*===========================
            @Media
===========================*/

@media screen and (max-width: 1102px) {

    .btn-grid {
        padding: 0 0 1rem 0;
    }

    .help-btn {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .help-li {
        display: none;
    }
}

@media screen and (max-width: 951px) {

    .fares-btn {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .help-btn {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .fares-li {
        display: none;
    }
}

@media screen and (max-width: 860px) {

    .maps-btn {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .fares-btn {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .help-btn {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .maps-li {
        display: none;
    }   
}

@media screen and (max-width: 770px) {

    .status-btn {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .maps-btn {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .fares-btn {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .help-btn {
        grid-column: 2 / 2;
        grid-row: 2 / 3;
    }

    .status-li {
        display: none;
    }
}

@media screen and (max-width: 650px) {

    .plan-btn {
        display: inline-block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .status-btn {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .maps-btn {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .fares-btn {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .help-btn {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .plan-li {
        display: none;
    }
}


@media screen and (max-width: 992px) {
    
    .ways-wrapper {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {

    .ways2-ul{
        border-left: 1px solid var(--more_bottom);
    }
}